
.button {
  display:inline-block;
  padding:20px;
  border: 1px solid #30a676;
  background: #30a676;
  border-radius: 10px;
  margin-top:20px;
  color:white;
  font-size:20px;
  user-select:none;
}

.button:hover {
  background:white;
  color:#30a676;
  /* show that it's clickable */
  cursor:pointer;
}

#h2 {
  transition: all 0.3s ease;
}

.shadow {
  text-shadow: 4px 3px 10px rgba(0, 49, 128, 1);
}

#lorem-img {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}

.hidden {
  opacity:0;
}

.gradient {
  background: rgb(205,181,255);
  background: radial-gradient(circle, rgba(205,181,255,1) 0%, rgba(253,187,45,0.20772058823529416) 100%);
}

#body {
  transition: all 0.3s ease;
}

#modal {
  display: none;
  padding: 20px;
  border: 2px dashed black;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  box-shadow: 0px 10px 19px -10px rgb(0 0 0 / 33%);
  position: absolute;
  left: 50px;
  top: 50px;
  background: white;
}

#modal.open {
  display:block;
}

#close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 24px;
  transition: all 0.3s ease;
}

#close-button:hover {
  cursor:pointer;
  opacity: 0.5;
}

#comment-app-wrapper {
  background: #f7f7f7;
  padding: 30px 50px;
  margin-top: 30px;
  border-radius: 10px;
}
